<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a new account</title>
    <script src="/js/base64/base64.js"></script>
    <script src="/js/jquery/jquery-3.6.0.min.js"></script>

    <!-- CSRF header name and value to be used by froms on this page to talk to the server -->
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

</head>
<body>
<form id="registerForm">
    <H1> Create a new account </H1>
    <div>
        <input type="email" id="email" name="email" placeholder="email">
    </div>

    <div class="error" style="margin-bottom: 30px" id="email-err"></div>
    <input type="text" id="username" name="username" placeholder="username">
    <button type="submit">
        Submit
    </button>
</form>

<script>
    $(document).ready(function () {
        $("#registerForm").submit(function (eventObject) {
            const registerForm = {
                email: $("#email").val(),
                username: $("#username").val()
            };
            console.log(registerForm);
            startRegistration(registerForm);
            eventObject.preventDefault();
        })
    })

    //TODO check whats in the jqXHR
    function startRegistration(formData) {
        $.ajax({
            url: "/notionclone/webauth/register/start",
            type: "POST",
            data: JSON.stringify(formData),
            contentType: "application/json",
            dataType: "json",
            beforeSend: function (xhr) {
                const token = $("meta[name='_csrf']").attr("content")
                const header = $("meta[name='_csrf_header']").attr("content")
                xhr.setRequestHeader(header, token)
            },
            success: function (data) {
                createCredential(data)
            },
            error: function (xhr) {
                let errors;
                try {
                    errors = xhr.responseJSON || JSON.parse(xhr.responseText);
                    $("#email-err").text(errors.email);
                    $("#username-err").text(errors.username);
                } catch (e) {
                    console.error("Failed to parse response:", e);
                    console.error("Data:",this.data);
                }
            }

        });


    }

    function createCredential(options) {
        const publicKey = {
            attestation: options.attestation,
            challenge: toByteArray(options.challenge),
            pubKeyCredParams: options.pubKeyCredParams,
            rp: {
                id: options.rp.id,
                name: options.rp.name
            },
            user: {
                displayName: options.user.displayName,
                id: toByteArray(options.user.id),
                name: options.user.name
            },


        }
        navigator.credentials.create({'publicKey': publicKey})
            .then((publicKeyCredential) => {
                finishRegistration(options, publicKeyCredential)
            })
            .catch((error) => {
                console.log('FAIL', error)
            })

    }

    function finishRegistration(options, newCredentialInfo) {
        const finishRequest = {
            credential: {
                id: newCredentialInfo.id,
                rawId: fromByteArray(newCredentialInfo.rawId),
                type: newCredentialInfo.type,
                response: {
                    clientDataJSON: fromByteArray(newCredentialInfo.response.clientDataJSON),
                    attestationObject: fromByteArray(newCredentialInfo.response.attestationObject)
                },
                clientExtensionResults: {}
            }

        }


        $.ajax({
            type: "POST",
            url: "notionclone/webauth/register/finish",
            data: JSON.stringify(finishRequest),
            dataType: "json",
            contentType: "application/json",
            beforeSend: function (xhr) {
                // spring security has CSRF protection turned on, if we don't
                // set the correct CSRF header and value spring security will
                // block the request from getting to the Spring MVC controller
                // that will process this request.
                const token = $("meta[name='_csrf']").attr("content")
                const header = $("meta[name='_csrf_header']").attr("content")
                xhr.setRequestHeader(header, token)
            }
        })
    }
</script>

</body>
</html>